.req-thumb
  -if display == 'users'
    =link_to request_path(request, type: 'user'), remote: true do
      =image_tag(request.user.user_profile.avatar, class: 'fit')
  -else
    =link_to request_path(request, type: 'house'), remote: true do
      =image_tag(request.house.avatar, class: 'fit')
  #compatibility-thumb
    %p= "#{request.compatibility}%"
