= response.question.title
%br
- (1..5).each do |i|
  -if (response.value == i)
    %button{class: "response-button display-selected"}=i
  -else (response.value == i)
    %button{class: "response-button"}=i
