@import 'bourbon/bourbon';
@import 'neat/neat';



::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    grey;
}

//jquery
.noscroll {
  overflow: hidden;
}

html {
  background-image:  image-url('bust-of-color.jpg');
  background-size: cover;
  background-position: right;
}

#dash-container {

}

#top-nav{
  text-align: center;
  padding-bottom: .300rem;
  @include span-columns(1.40);
  margin-right: .5666rem;
}

#container {
  @include span-columns(10.40);
}

.top-link {
  font-size: 1rem;
  display: inline-block;
  color: white;
  padding: .5666rem;
  margin-bottom: 15px;
  border-radius: 50px;
  border: 4px solid;
  background: rgba(255, 255, 255, .3);
  float: right;
  a {
    text-decoration: none;
    color: white;
  }
}


#user-info, #house-info {
  //background-color: pink;
  min-height: 100vh;
  @include span-columns(6);
  background: rgba(255, 255, 255, .5);
  text-align: center;
  height: 100vh;
  overflow: auto;
}


#requests{
  //background-color: red;
  min-height: 100vh;
  @include span-columns(6);
  //background-color: rgba(100, .2, .2, .2);
}

#image-prime {
  min-height: 200px;
  @include span-columns(12);
}
#image-thumbs {
  @include span-columns(11);
  @include outer-container;
  @include shift(0.5);
}

.temp-thumb {
  margin-top: 10px;
  overflow: auto;
  @include span-columns(6);
  @include omega(2n);
}

#bio {
  margin: 75px;
  @include span-columns(10);
  @include shift(1);
  text-align: left;
  //background-color: rgba(.5, .5, 5, .5);
}

#responses {
  margin-top: 100px;
  @include span-columns(12);
  text-align: center;
}

#request-thumbs {
  @include span-columns(10);
  @include outer-container;
  @include shift(1);
  //background-color: lime;
  min-height: 500px;
}

.temp-req-thumb {
  @include span-columns(4);
  @include omega(3n);
  min-height: 150px;
  //background-color: orange;
  margin-top: 10px;
}

#req-details {
  @include span-columns(9);
  background-color: rgba(255, 255, 255, .5);
  min-height: 500px;
  text-align: center;
  height: 100vh;
  overflow: auto;
}

#compatibility-thumb {
  position: relative;
  top: 80%;
  color: white;
  text-align: center;
  padding: 0;
  p {
    padding: 0;
    margin: 0;
  }
}

.secondary-image {
  overflow: auto;
  height: 200px;
  min-width: 100%;
}

.fit {
  @include fill-parent;
}

#request-thumbs {
  @include span-columns(3);
  @include outer-container;
}

.req-thumb {
  @include span-columns(12);
  @include omega(4n);
  margin-top: 10px;
}


#search-container {
  position:absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  #search_input{
    font-size: 2em;
    width: 200px;
    background-color: rgba(255,255,255,0.8);
    outline:none;
    border:none;
    border-bottom: solid 2px white;
  }
  #search_input:focus, #search_input:hover {
    box-shadow: 0px 0px 30px skyblue;
  }
}


#map-show {
  position: relative;
  @include span-columns(12);

}
#house-map-show {
  position: fixed;
  right: 0;
  //background-color: rgba(100,100,100,0.13);
  //background-color: rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.5);
  @include span-columns(5.15);
  height: 100vh;
  overflow: auto;
  margin-right: 8px;
//  margin-top: 30px;
  padding-left: 20px;

}
#house-map-show-pad {
  position: fixed;
  right: 0;
  // background-color: rgba(255,255,255,0.5);
  @include span-columns(5.15);
  height: 100vh;
  margin-right: 8px;
}

#house-map-thumb-list {

  @include outer-container;
  @include span-columns(7);
}
#house-map-thumb {

  margin-top: 10px;
  @include span-columns(4);
  @include omega(3n);
}

#application {
  @include span-columns(12);
  border: solid;
  text-align: center;
}

#comment-form {
  text-align: center;
  @include span-columns(10);
  @include shift(1);
}

.comment {
  background-color: rgba(0, 255, 0, .4);
  @include span-columns(10);
  padding: 10px;
  padding-left: 20px;
  margin: 10px 0px;
  text-align: left;
}
.applicant {
  background-color: rgba(0, 255, 0, .4);
  @include shift(-2);
}
.house-owner {
  background-color: rgba(255, 0, 0, .4);
  @include shift(2);
}



.radio-button {
  visibility: hidden;
}

.selected {
  button {
    background-color: red;
  }
}


input[type=radio]:checked {
  border:solid;
}

label:hover {
  button {
    background-color: red;
  }
}

.submit {
  border-radius: 0px;
  margin: auto;
}

textarea {
  width: 100%;
  height: 2rem;
}

.response-button {
  border: 4px;
  border-radius: 50px;
  background: none;
}


.display-selected {
  background-color: red;
}
