@import 'bourbon/bourbon';
@import 'neat/neat';



#user-info, #house-info {
  background-color: pink;
  min-height: 100vh;
  @include span-columns(6)
}



#requests{
  background-color: red;
  min-height: 100vh;
  @include span-columns(6)
}

#image-prime {
  min-height: 200px;
  @include span-columns(8);
  @include shift(1);
}
#image-thumbs {
  @include span-columns(8);
  @include outer-container;
  @include shift(1);
}

.temp-thumb {
  margin-top: 10px;
  overflow: auto;
  @include span-columns(6);
  @include omega(2n);
}

#bio {
  margin-top: 75px;
  @include span-columns(10);
  @include shift(1);
}

#responses {
  margin-top: 100px;
  @include span-columns(12);
}

#request-thumbs {
  @include span-columns(10);
  @include outer-container;
  @include shift(1);
  background-color: lime;
  min-height: 500px;
}

.temp-req-thumb {
  @include span-columns(4);
  @include omega(3n);
  min-height: 150px;
  background-color: orange;
  margin-top: 10px;
}

#req-details {
  @include span-columns(12);
  background-color: skyblue;
  min-height: 500px;
}

.secondary-image {
  @include fill-parent;
}

.fit {
  @include fill-parent;
}

#request-thumbs {
  @include span-columns(10);
  @include outer-container;
  @include shift(1);

}

.req-thumb {
  @include span-columns(3);
  @include omega(4n);
  background-color: grey;
  margin-top: 10px;
}

#map-show {

  @include span-columns(7)
}
#house-map-show {
  position: relative;

  @include span-columns(4);
  height: 600px;
  overflow: auto;
  #pictures-button {
    position: fixed;
    top: 80px;
    right: 200px;
  };
  #responses-button {
    position: fixed;
    top: 80px;
    right: 300px;
  }
}

#house-map-thumb-list {
  border: solid;
  @include span-columns(12);
  @include outer-container;
}
#house-map-thumb {
  border:solid;
  @include span-columns(4);
  @include omega(3n);
}
