@import 'bourbon/bourbon';
@import 'neat/neat';

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    grey;
}

.noscroll {
  overflow: hidden;
}


#user-info, #house-info {
  background-color: pink;
  min-height: 100vh;
  @include span-columns(6)
}



#requests{
  background-color: red;
  min-height: 100vh;
  @include span-columns(6)
}

#image-prime {
  min-height: 200px;
  @include span-columns(8);
  @include shift(1);
}
#image-thumbs {
  @include span-columns(8);
  @include outer-container;
  @include shift(1);
}

.temp-thumb {
  margin-top: 10px;
  overflow: auto;
  @include span-columns(6);
  @include omega(2n);
}

#bio {
  margin-top: 75px;
  @include span-columns(10);
  @include shift(1);
}

#responses {
  margin-top: 100px;
  @include span-columns(12);
}

#request-thumbs {
  @include span-columns(10);
  @include outer-container;
  @include shift(1);
  background-color: lime;
  min-height: 500px;
}

.temp-req-thumb {
  @include span-columns(4);
  @include omega(3n);
  min-height: 150px;
  background-color: orange;
  margin-top: 10px;
}

#req-details {
  @include span-columns(12);
  background-color: skyblue;
  min-height: 500px;
}

.secondary-image {
  @include fill-parent;
}

.fit {
  @include fill-parent;
}

#request-thumbs {
  @include span-columns(10);
  @include outer-container;
  @include shift(1);

}

.req-thumb {
  @include span-columns(3);
  @include omega(4n);
  background-color: grey;
  margin-top: 10px;
}


#search-container {
  position:absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  #search_input{
    font-size: 2em;
    width: 200px;
    background-color: rgba(255,255,255,0.8);
    outline:none;
    border:none;
    border-bottom: solid 2px white;
  }
  #search_input:focus, #search_input:hover {
    box-shadow: 0px 0px 30px skyblue;
  }
}


#map-show {
  position: relative;
  @include span-columns(12);

}
#house-map-show {
  position: fixed;
  right: 0;
  //background-color: rgba(100,100,100,0.13);
  //background-color: rgba(255,255,255,0.5);
  @include span-columns(5.15);
  height: 100vh;
  overflow: auto;
  margin-right: 8px;
//  margin-top: 30px;
  padding-left: 20px;

}
#house-map-show-pad {
  position: absolute;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  @include span-columns(5.15);
  height: 100vh;
  margin-right: 8px;
}

#house-map-thumb-list {

  @include outer-container;
  @include span-columns(7);
}
#house-map-thumb {

  margin-top: 10px;
  @include span-columns(4);
  @include omega(3n);
}

.radio-button {
  visibility: hidden;
}

.selected {
  background-color: red;
}

input[type=radio]:checked {
  border:solid;
}

label:hover {
  background-color: red;
}
